footer{
    background: var(--Gray-50, #F9FAFB);
    width: 100%;
    padding: 24px 0px;
    .footer-wrapper {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;}
}
