header {
  padding: 16px;
}
.logo {
  color: var(--Gray-900, #111827);
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  letter-spacing: -0.6px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    gap: 50px;
    align-items: center;
  }
}

.li {
  text-decoration: none;
  list-style-type: none;
  a {
    list-style-type: none;
    text-decoration: none;
    color: var(--Gray-600, #4b5563);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}

.hed-btn {
  display: flex;
  gap: 16px;
}
.cv-btn {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: var(--Gray-900, #111827);
  color: var(--Gray-50, #f9fafb);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
