.skills-btn-wrapper {
  margin-top: 96px;
  display: flex;
  justify-content: center;
  .skills-btn {
    display: flex;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--Gray-200, #e5e7eb);
    p {
      color: var(--Gray-600, #4b5563);

      /* Body3/Medium - All */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
    }
  }
}
.skills-tittle {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  p {
    color: var(--Gray-600, #4b5563);
    text-align: center;

    /* Subtitle/Normal - Desktop */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
  }
}

.icon-wrapper {
  ul {
    width: 1216px;
    justify-content: space-between;
    display: flex;

    margin-top: 48px;
    margin-bottom: 100px;

    li {
      display: flex;
      list-style-type: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: var(--Gray-600, #4b5563);

      /* Body1/Normal - Dektop */
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 155.556% */
      filter: grayscale(1);

      &:hover {
        filter: grayscale(0);
      }
    }
  }
}
